$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$text: #546e7a;
$red: #e74c3c;
$green: #8bc34a;
$bg: #263238;